<% for(let index in posts){ 
    let post = posts[index];
    let comments = JSON.parse(post.post_comments)
%>
    <div data-post_id=<%= post.post_id%>>
        <h2><%= post.first_name %> <%= post.last_name %> <%= post.created_at %></h2>
        <p><%= post.message %></p>
        <% if(user_id == post.user_id) { %>
            <form action="/delete_post_comment" method="post">
                <input type="hidden" name="record_id" value="<%= post.post_id%>">
                <input type="submit" value="Delete Post">
            </form>
        <% } %>
        <div>
            <%  for(let comment_index in comments){ 
                    let comment = comments[comment_index];

                    if(comment.comment_id){  %>
                        <div style="margin-left:50px">
                            <h2><%= comment.first_name %> <%= comment.last_name %> <%= comment.created_at %></h2>
                            <p><%= comment.message %></p>
                        <% if(user_id == comment.user_id) { %>
                            <form action="/delete_post_comment" method="post" >
                                <input type="hidden" name="is_comment" value="1">
                                <input type="hidden" name="record_id" value="<%= comment.comment_id%>">
                                <input type="submit" value="Delete comment">
                            </form>
                        <% } %>
                        </div>
            <%          
                    }    
                }   %>
        </div>
    </br>
    </br>
        <form action="/post" method="post" style="margin-left:50px">
            <input type="hidden" name="is_comment" value="1s">
            <input type="hidden" name="post_id" value="<%= post.post_id%>">
            <textarea name="message" id="" cols="30" rows="10"></textarea>
            </br>
            <input type="submit" value="Post a comment">
        </form>
    </div>
<% } %>
